body {
	background-color: green;

	h1 {
		color: white;
	}

    color: #e2e0e0;
}

.rules {
    display: none;
    &.rules--show {
        display: block;
    }
}

.game {
    .game__countdown {
        display: none;

        &.game__countdown--show {
            display: block;
        }
    }

    .game__play {
        display: none;

        &.game__play--show {
            display: block;
        }
    }

    .game__result {
        display: none;

        &.game__result--show {
            display: block;
        }
    }
}
