<!doctype html>
<html>
<head>
    <title>Rock - Paper - Scissors</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"
    >/* DOM4 */</script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Rock Paper Scissors!</h1>
    </header>
    <main>
        <h2 class="help help--easiting">Press S to start, D for demo, or R for rules</h2>
        <h2 class="help help--running">Wait for GO!</h2>
        <p>Then press B (rock), N (paper) or M (scissors)</p>
        <section class="rules">
            <p>The rules:</p>
            <ol>
                <li>Wait for the GO! sign to flash up</li>
                <li>You have up to 1 second to react</li>
                <li>Rock crushes Scissors - press B</li>
                <li>Paper covers Rock - press N</li>
                <li>Scissors cuts Paper - press M</li>
            </ol>
        </section>
        <section class="game">
            <h2 class="game__countdown"></h2>
            <div class="game__play"></div>
            <div class="game__result"></div>
        </section>
    </main>
</body>
</html>
