<!doctype html>
<html>
<head>
    <title>Rock - Paper - Scissors</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <h1>Rock Paper Scissors!</h1>
    </header>
    <main>
        <h2 class="help help--easiting">Press S to start, D for demo, or R for rules (yes rules - we all need boundaries!)</h2>
        <h2 class="help help--running">Wait for GO! then press R, P or S</h2>
        <section class="rules">
            <p>The rules:</p>
            <ol>
                <li>Wait for the GO! sign to flash up</li>
                <li>You have 1/2 a second to react</li>
                <li>Scissors cuts Paper</li>
                <li>Paper covers Rock</li>
                <li>Rock crushes Scissors</li>
            </ol>
        </section>
        <section class="game">
            <h2 class="game__prompt"></h2>
            <div class="game__result"></div>
        </section>
    </main>
</body>
</html>
